
<div class="bg-img">
  <form action="/action_page.php" class="container">
    <h2>Register</h2>
<br>
    <label for="FirstName"><b>First Name</b></label>
    <br>
    <input type="text" placeholder="Enter First Name" name="FirstName" required>
<br>
    <label for="LastName"><b>Last Name</b></label>
    <br>
    <input type="text" placeholder="Enter Last Name" name="LastName" required>
<br>
    <label for="email"><b>Email</b></label>
    <br>
    <input type="text" placeholder="Enter Email" name="email" required>
<br>
    <label for="psw"><b>Enter Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br>
    <label for="psw"><b>Confirm password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br>


    <button type="submit" class="btn">Sign Up</button>
  </form>
</div>